<% layout('templates/boilerplate') %>
    <main class="container">
        <div class="row">
            <input type="month" name="month" id="month-picker">
        </div>
        <div class="row">
            <div class="day-header col">Monday</div>
            <div class="day-header col">Tuesday</div>
            <div class="day-header col">Wednesday</div>
            <div class="day-header col">Thursday</div>
            <div class="day-header col">Friday</div>
            <div class="day-header col">Saturday</div>
            <div class="day-header col">Sunday</div>
        </div>

        <% let count=1 %>

            <% for( let i=1; i<=7; i++) { %>
                <div class="row">
                    <% for( let j=1; j<=7; j++) { %>
                        <div class="col day">
                            <a href="" class="day-anchor"></a>
                        </div>

                        <% } %>
                </div>

                <% } %>
                    <div class="row">
                        <a href="/">All events</a><a href="/calendar">calendar view</a>
                    </div>

    </main>