<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day View</title>
    <link rel="stylesheet" href="/css/dayView.css">
</head>

<body>
    <h1>Day View</h1>
    <a href="/">All events</a><a href="/calendar">calendar view</a>
    <div class="container">
        <table>
            <tbody>
                <% for(let i=0; i< 24; i++){ %>
                    <tr class="row<%= i  %>">
                        <td>
                            <%= i %>:00
                        </td>
                        <td>Event</td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>